/* @import "./css/componentes.css";
@import "./css/description.css";
@import "./css/carrito.css";
@import "./css/subcategorias.css";
@import "./css/categorias.css"; */


/* 
font-family: 'Kanit', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Russo One', sans-serif; */

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-size: 16px !important;
/* font-family: 'Roboto', sans-serif;
 */
  /* system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" */
}
body{
    margin: 0;
  /* background-color: var(--body-bg-color); */
}

:root{
  --primary: #1a1a1a; 
  --secondary: #f5f5f5; 
  --three: #f0e8cf; 
  --four: #ecdcaf; 
  --five: #e7cf89; 
  --six: #f5c427; 
  --seven: #cccccc; 
  --eigth: #959595;
  /* --seven:#6f6e6e; */
   --seven:#4e4b4b; 
  --pricipal: 400 1.3125rem/normal Roboto; 
  --pricipalbold: 700 1.3125rem/normal Roboto; 
  --semibold: 600 1.3125rem/normal Roboto; 
  --title: 700 1.875rem/normal Montserrat; 
  --text: 400 1rem/normal Roboto; 
  --subtitulo: 600 1.5625rem/normal Montserrat; 
  --titleprecio: 400 1.0625rem/normal Roboto; 
  --banner:rgb(26,26,26,89);

}

/* #Header,#HMain{
  background: var(--banner);
} */

.imgbanner{
position: absolute;
height: 100%;
width: 100%;
object-fit: cover;
opacity: 0.3;
}

/* #Header{
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
 z-index: 7;
  position: fixed;
  transition: all 0.5s;
} */
/* nav a{
  color: var(--secondary) !important;
  transform: scaleY();
  transition: all 0.5s;
} */

/* nav a:hover{
  color: var(--four) !important;
} */

/* .nav {
  background-color: transparent !important;
} */
#banner{
  height:700px;
 max-height: 700px;
 width: 100%;
  background: var(--primary);
  /* background-image: url('https://res.cloudinary.com/dq3fragzr/image/upload/v1682739719/BOLDSTRATEGY/Static/image_67_h8dk5h.png'); */
}
.contetnbanner{
  width: 60% !important;
}
.bannersection{
  display: grid;
  place-items: center;

}
.services__grid p{
  text-align: center;
}
.btn-buy{
  font-weight: bold;
  background-color: var(--six);
   color: var(--secondary);
}

.btn-buy:hover {
  background-color: #e3b323;
  color: var(--secondary);

}
.nav a{
  font-size: 20px !important;
    font-weight: 600;
  font-size: 20px;
  color: var(--secondary) !important;
}
/* .content-banner ,h2, p{
  color: var(--secondary);
} */
/* .container-header{
  max-width: 1200px;
  margin:0 auto;
}  */
.cont{
  position: absolute;
  width: 100%;
  margin: 0 auto;
  z-index: 10;
}

.centrar-header,.package,.about, .contact,.footer,.services,.proyects{
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
}
/* .content-banner {
  max-width: 1230px;
  top: 36%;
  left: 32%;
  position: absolute;
} */

.all li{
text-align: center;
}
.content-banner,.bannersection{
  height: 100%;
}
.content-banner h2,.bannersection h2 {
  font-size: 40px !important;
  text-align: center;
}
.content-banner p,.bannersection p{
 
  text-align: center;
}
.contentacercaimg h2{
  font-size: 50px !important;
  margin-bottom: 30px !important;
}

.content-img:hover{
  transform: translateY(-3%);
  transition: 300ms;
}
.content-img img{
/*   position: absolute;
  transform: translate(50%,50%); */
}
/* SERVICES */
.services{
  padding-top: 50px;
 /*  max-width: 1230px;
 margin: 0 auto;
  width:62%; */
  /* min-width: 700px; */
}
.services p{
  color: var(--seven);
  /* font-size: 2.4vh !important; */
  font-size: 26px;
}

.services h2, .package h2 ,.about h2{
 /*  font-size: 30px !important; */
  text-align: center;
}

.services__item h3{
  text-align: center;
    padding-top: 30px;
    font-size: 22px !important;
}
.services .services__item img{
  width: 50px;
  position: relative;
 left: 45% !important;
}
.services .services__item p{
  padding-top: 15px;
/*   color: #95a0ab !important; */
}


/* PROYECTS */
.proyects{
 /*  width: 60%;
  max-width: 1230px;
  margin: 0 auto; */
  padding-bottom: 50px;
}
.proyects h2{
  padding-top: 50px;
  font-size: 30px !important;
  text-align: center;
}
.proyects h4{
  font-size: 24px !important;
  }

.proyects p{
font-size: 13px !important;
}

.about{
  margin-top: 50px;
  margin-bottom: 50px;
}



/* package */

.card{
  box-shadow: -9px -11px 16px 2px rgba(0,0,0,.1), 0 11px 17px 20px rgba(0,0,0,0.06) !important;
  border-radius: 10px;
}

.card  p,.package p, .about p, .about li{
  color: var(--seven);

  font-size: 24px;
/*   font-size: 2.4vh !important;
 */}

.card  li{
  color: var(--seven);

  font-size:16px !important;
}
/* .package p{

} */

.formcont-content input{
  height: 50px !important;
  font-size: 13px !important;
}
.btn-comprar{
  color: white !important;
}
.package .pak{
  padding-top: 70px;
}

.pak gama{
  font-size: 18px !important;
}
.package .tiempo{
  color:#ABA8A8 !important;
  padding-bottom: 15px !important;


  font-weight: 600;
}
.underline {
  opacity: 0.5 ;
  width: 80%;
  height: 0.1rem;
  margin-bottom: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  background:  #cccc;
}

.underline-title {
  margin-top: 30px;
  width: 4rem;
  height: 0.1rem;
  margin-bottom: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  background: var(--six);
}

.btn-comprar{
 /*  top: 50%; left: 50%; transform: translate(50%, -50%); */
  /* left: 36%;
  bottom: -16%;
  position: relative;
  text-align: center !important; */
  background: var(--six);
  color: var(--secondary);
  font-weight: bold;
}
.features{
  width: 82%;
  margin: 0 auto;
}
  .first{
    right: -6%;
    position: relative;
  }
  .second{
    right: 11%;
    position: relative;
  }
  .three{
    left: -24%;
    position: relative;
  }
/* Contacto */


.formdatos-content,
.formcont-content{
  height: 100%;
  padding: 20px;
/*   box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12); */

  border-radius: 10px;
}
.contact h2{
  padding-top: 50px;
  /* font-size: 30px !important; */
  text-align: center;
}
.contact h4{
  font-weight: bold;
  font-size:16px !important;
}
.contact p{
  color: #6e6e6ecc;
}
.contact button{
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  background: var(--six);
  color: var(--secondary);
}
.contact button:hover{
  color: var(--secondary);
}
.recomendada{
 /*  height: 528px !important; */
  transform: translateY(-6%) !important;
}

.recomendada:hover{
  transform: translateY(-10%) !important;
}

.pricing-card-title{
  font-size: 30px !important;
  font-weight: bold;
}

footer{
  background: var(--primary);
  color: var(--secondary);
}
.footer h4{
  font-size: 20px !important;
}
.footer ul {
  padding: 0 !important;
}
.footer{
  padding: 30px;
}
.footer li{
  list-style: none;
}

.footer a{
  color: var(--secondary);
  text-decoration: none;
}
@media(max-width:370px){
  .contact {
    padding-top: 207px !important;
  }
  }

@media(max-width:460px){
.contact {
  padding-top: 90px;
}
}


@media(max-width:960px){
  .bannersection h2{
    font-size: 30px !important;
  }
  .bannersection p{
    font-size: 15px !important;
  }
  .contetnbanner{
    width: 80% !important;
  }

  .centrar-header,.package,.about, .contact,.footer,.services,.proyects{
    width: 80%;
  }
  .first{
    right: 0%;
    position: relative;
  }

  .second{
    right: 0%;
    position: relative;
  }
  .three{
    left: 0;
    right: 0%;
    position: relative;
  }
  .recomendada{
    transform: none !important;
  }
  .recomendada:hover{
    transform:translateY(-2%) !important;
  }
}
.btn-contacto{
  border-radius: 2.23rem;
  background: var(--six);
  color: var(--secondary) !important;
  transition: all 0.5s;
}

.btn-contacto:hover{
 
  transform: translateY(-5px);
}

.hamburger button{
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
    border: 0;
    background: transparent;
    gap: .65rem
}
.hamburger button> div{
  background:white;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transition: all .5s;
  transform-origin:left;
}

.hamburger button:hover div:first-child{
  transform: rotate(45deg);
}
.hamburger button:hover div:nth-child(2){
  opacity: 0;
}
.hamburger button:hover div:last-child{
  transform: rotate(-45deg);
}


#loaderweb {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 /*  height: 100%; */
  position: fixed;
  z-index: 2000;
  background: rgba(0, 0, 0, .2);

}

.loadercontent{
  position: relative;
  top: 50% !important;
  left: 50% !important;
}


#videoweb {
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  display: grid;
  place-items: center;
 /*  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background: rgba(0, 0, 0, .2);

}

#videoweb .centervideo {
  position: absolute;
  max-width: 1050px;
 /*  height: 900px; */
  width: 100%;
 /*  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  
}

.btn-video{
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  width: 40px;
  font-weight: bold;
  padding: 10px;
  background: white;
  position: absolute;
  right: 0; 
}

.subir{
  position: fixed;
  bottom: 80px;
  right: 80px;
  z-index: 1000
}
@media(max-width: 750px){
  .btn-video{
    position: absolute;
    right: 30px !important;  

    }
  }
/* @media (min-width: 1400px){
.container-header, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: 1320px;
}

}
@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1140px;
}}
@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
  max-width: 960px;
}}
@media (min-width: 768px){
.container, .container-md, .container-sm {
  max-width: 720px;
}}
@media (min-width: 576px){
.container, .container-sm {
  max-width: 540px;
}} */





















/* 


.btn-search {
  background-color: var(--tercer-color);
  color: var(--primary-color);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
  -webkit-appearance:none;
  margin: 0;
}
.fixed{
  position: fixed;
  z-index: 100;
  width: 100%;
  transition: 300ms all;
   background: var(--main-bg-color);
  
}
.AnombrePro{
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-color);
}
.AnombrePro:hover{
color: #11365e;
}
#HeaderFixed{
  position:sticky;
  z-index: 10;
  transition: all 300ms;
}
.carousel-control-prev{
  width: 40px !important;
  position: absolute !important;
  height: 40px !important;
  top: 42% !important;
  background: var(--second-bg-color) !important;
  border-radius: 50px !important;
  left: 12px !important;
}

.carousel-control-next{
  width: 40px !important;
  position: absolute !important;
  height: 40px !important;
  top: 42% !important;
  background: var(--second-bg-color) !important;
  border-radius: 50px !important;
  right: 12px !important;
}

.alineacion{
  max-width: 90%;
  width:1200px !important;
  margin:0 auto;
}


#menuLateral li{
  position: relative;

}
#menuLateral a{
  position: relative;
  color: black !important;
  padding-left: 30px;
  width: 100%;
}
#menuLateral i{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px !important;
  line-height: 35px;
  width: 10%;
  text-align: center;
  cursor: pointer;
}
#menuLateral a:hover{
  color:var(--second-bg-color) !important ;
}
#menuLateral i:hover{
  color:var(--second-bg-color) !important;  
} 

#menuLateral .menuLateralContentAcordeon a{
  padding-left: 41px;
}
#menuLateral .menuLateralContentAcordeon a:hover{
 color: var(--second-bg-color) !important;
 background-color: white;
}




.btnUser ul{
  background-color: #375A7F !important;
}
.bbtn{
  background: #375A7F;
}
.btnUser ul li a:hover{
  background-color: #11365e !important;
  color:white !important;
  transform: none;
}
.contactUl{
  align-items: center;
  list-style: none;
  
}
.contactUl a{
  text-decoration: none;
  color: black;
}
.contactUl a:hover{
  color: #375A7F;
}
#navMovile{
  display: none;
}


@media(max-width:996px){

  .contentSearch{
      width: 50% !important;
  }
  #navDesktop{
      display: none;
  }
  #navMovile{
      display: flex !important;
      position:sticky;
      bottom: 0;

  }

  .prodAll{
      grid-template-columns: repeat(3,1fr) !important;
  }
}
@media(max-width:720px){
  #MainSubCategorias{
      grid-template-columns: repeat(2,1fr) ;
  } 
  #MainCategorias{
      grid-template-columns: repeat(2,1fr) ;
  }
  .logoGoh{
      width: 90px;
  }
  .prodAll{
      grid-template-columns: repeat(2,1fr) !important;
  }
  .divFooter{
    flex-direction: column;
  }

  .carrito{
      width: 90% !important;
  }
  .carrito img{
      width: 100px;
  }
  .thDescrip{
      overflow: hidden;
      text-overflow:ellipsis
  }
}

.contentSearch{
  width: 500px;
  margin: 0 auto;
}
#menuMovile{
  left: -26px !important;
}
.menuDesktop a{
  left: -78px !important;
  color: white;
}
#navbarScroll a:hover{
 transform: scale(1.1);
} 
.active-li{
  background-color:var(--second-bg-color);
}


.slick-slide{
  min-width: 190px !important;
}
.sliderMain{
 width: 100%;
 height: 500px;
 object-fit: cover;
}


#sectionProdDestacados{
  margin-top: 60px;
  position: relative;
  margin-bottom: 20px;
}

.titleProDesta{
  position:static;
  color: var(--main-bg-color);
  text-align: center;
  font-size: 30px !important;
  border-bottom: 0.5px solid var(--main-bg-color);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.box{
  border-radius: 10px;
   min-width: 150px !important;
   width: 90% !important;
   transition: all 500ms;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin:10px ;
  box-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06)
}

.box:hover{
  box-shadow: 1px 1px 3px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06) ;
  transform: translateY(-3%);
}

.imgPro{
  width: 385px;
  max-width: 100%;
  height: 220px; 
   object-fit: contain;
}
.contentBox{
  padding: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;

}
.contentBox p{
  margin-bottom: 2px;
}
.arrow_left,.arrow_right{
  cursor: pointer;

  border-radius:50% ;
  padding: 7px 9px;
  background: #ffaa0d;
  font-weight: 900;
  font-size: 20px;
}
.arrow_left:hover,.arrow_right:hover{
 background: #ffbf48;
}

.titleProAll{
  color: var(--main-bg-color);
  font-size: 30px !important; 
  margin-top: 5px;
  text-align: center;
  border-bottom: 0.5px solid var(--main-bg-color);
  padding-bottom: 20px;
}

.sliderCat{
  margin-top: 25px;
}
.sliderCat .boxCat, .btnmas{
  background: #fff;
  display: inline-block;
  width: 90% !important;
  text-decoration: none;
  color:var(--main-bg-color);
  font-weight: bold;
  outline:var(--main-bg-color) 1px solid; 
  border-radius: 5px;
  border: 0;
  margin: 20px;
  transition: all 300ms;
  padding: 5px;
  text-align: center;
}
.sliderCat .boxCat:hover, .btnmas:hover{
  background: var(--main-bg-color);
  color: var(--main-color);
  cursor: pointer;
}
.prodAll{
  margin-top: 25px !important;
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.boxProAll{
  border-radius: 10px;

}
.boxProAll,.boxProAll-components{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 20px;
  transition: all 500ms;
  box-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06)
}
.boxProAll:hover,.boxProAll-components:hover{
  box-shadow: rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06) ;
  transform: translateY(-3%);
}


.arrow_leftCat,.arrow_rightCat{
  color: #ffaa0d;
  cursor: pointer;
}


.contentBoxProAll, .contentBoxProAll-components{
  margin-top: 10px;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.contentBoxProAll p, .contentBoxProAll-components p{
  margin-bottom: 2px;
}
.verMas{
  margin: 20px;
  text-align: center;
}
.verMas a{
  color: black;
  text-decoration: none;
  background-color: var(--second-bg-color);
  border: var(--second-bg-color) 1px solid;
  border-radius: 3px;
  padding: 10px;
  font-weight: bold;
}
.verMas a:hover{
  color: black;

  background-color: var(--second-bg-color);
}
.footer{
  color: var(--main-color);
  background-color: var(--tercer-bg-color);
  padding-top: 20px;
  min-height: 300px;
  max-height: 100% !important;
}
.divFooter h3{
  font-weight: bold;
  font-size: 20px !important;

  border-bottom: 0.5px solid #444;
  padding: 5px;
}
.divFooter p{
 
}
 */